<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Useful_FunctionsCsh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Useful_FunctionsCsh.Properties.Settings>
            <setting name="Горизонтальный_масштаб" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AcceptReturn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ВертикальныйМасштаб" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ВысотаТекстаПопера" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ВысотаТекстаЛегенды" serializeAs="String">
                <value>2.5
</value>
            </setting>
            <setting name="Enter_text_data" serializeAs="String">
                <value>Ввод текстовых данных</value>
            </setting>
            <setting name="ВысотаИмениПоперечника" serializeAs="String">
                <value>3.5</value>
            </setting>
            <setting name="Заглубление_код_120" serializeAs="String">
                <value>-0.8</value>
            </setting>
            <setting name="Заглубление_каб" serializeAs="String">
                <value>-1.70</value>
            </setting>
            <setting name="Превышение_ЛЭП" serializeAs="String">
                <value>3.0</value>
            </setting>
            <setting name="Превышение_ВХ" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="Создать_междопутья" serializeAs="String">
                <value>Создавать междопутья</value>
            </setting>
            <setting name="Слой_междопутий" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="Высота_междопутий" serializeAs="String">
                <value>1.6</value>
            </setting>
            <setting name="Стиль_текста" serializeAs="String">
                <value>ATP</value>
            </setting>
            <setting name="СозданиеТочекНаПересечениях" serializeAs="String">
                <value>Создавать точки на пересечениях при интерполяции</value>
            </setting>
            <setting name="СоздаватьТочкиИнтерполяция" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ЧекСтэйт" serializeAs="String">
                <value>Checked</value>
            </setting>
        </Useful_FunctionsCsh.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
